<a href="https://colab.research.google.com/github/priyamanohar8/movie-recommendation/blob/main/Miniproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# New section

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [ ]:
data1=pd.read_excel('/content/ML Mdel Feaature data Final.xlsx')

In [ ]:
data1.drop(['HRV triangular index'],axis=1,inplace=True)

In [ ]:
data1.drop(['Name'], axis = 1, inplace = True)

In [ ]:
data1 = data1.drop(0)

In [ ]:
data1.head(5)

,Mean RR (ms),SDNN (ms),Mean HR (beats/min),STD HR (beats/min),Min HR (beats/min),Max HR (beats/min),RMSSD (ms),NNxx,pNNxx,TINN (ms),...,AR Power (log),AR Power (log).1,AR Power (log).2,AR Power (%),AR Power (%).1,AR Power (%).2,AR Power (n.u.),AR Power (n.u.).1,AR Result,Class
1,846.86,1.4534,70.850,0.12149,68.337,71.999,0.74811,0.0,0.0,7.0,...,0.60088,0,0,63.595,33.935,2.466,93.215,6.7737,13.761,2.0
2,869.16,1.8573,69.033,0.14742,68.069,70.180,0.96140,0.0,0.0,8.0,...,0,0.85711,0,28.016,68.523,3.4544,95.192,4.7989,19.836,3.0
3,905.33,3.7751,66.274,0.27666,64.285,68.366,1.95870,0.0,0.0,18.0,...,0.96155,2.5602,0,16.097,79.618,4.2708,94.893,5.0902,18.642,1.0
4,906.53,2.9229,66.186,0.21362,64.830,68.468,1.31034,0.0,0.0,14.0,...,0.92476,1.707,0,30.514,66.713,2.765,96.01,3.9793,24.128,1.0
5,878.14,1.8624,68.326,0.14489,67.054,69.316,0.78719,0.0,0.0,10.0,...,0.23385,0.74645,0,36.336,60.668,2.9878,95.294,4.6931,20.305,2.0

In [ ]:
'''import pandas as pd
import numpy as np

# Load the Excel file into a Pandas dataframe
df = pd.read_excel('/content/ML Model Feature data.xlsx')
df = df.drop(0)

# Create a new dataframe for augmented data
augmented_df = pd.DataFrame()

# Loop through each row in the original dataframe
for index, row in df.iterrows():

    # Augment the data by randomly flipping the values in each row
    flip = np.random.choice([True, False], size=len(row))
    flipped_row = row * flip

    # Append the original row and the flipped row to the new dataframe
    augmented_df = augmented_df.append(row, ignore_index=True)
    augmented_df = augmented_df.append(flipped_row, ignore_index=True)

# Save the augmented data to a new Excel file
augmented_df.to_excel('augmented_file.xlsx', index=False)'''

"import pandas as pd \nimport numpy as np\n\n# Load the Excel file into a Pandas dataframe\ndf = pd.read_excel('/content/ML Model Feature data.xlsx')\ndf = df.drop(0)\n\n# Create a new dataframe for augmented data\naugmented_df = pd.DataFrame()\n\n# Loop through each row in the original dataframe\nfor index, row in df.iterrows():\n    \n    # Augment the data by randomly flipping the values in each row\n    flip = np.random.choice([True, False], size=len(row))\n    flipped_row = row * flip\n    \n    # Append the original row and the flipped row to the new dataframe\n    augmented_df = augmented_df.append(row, ignore_index=True)\n    augmented_df = augmented_df.append(flipped_row, ignore_index=True)\n\n# Save the augmented data to a new Excel file\naugmented_df.to_excel('augmented_file.xlsx', index=False)"

In [ ]:
#data_12 = pd.read_excel('augmented_file.xlsx')

In [ ]:
#data_12

In [ ]:
#data_12.drop(['HRV triangular index'], axis=1, inplace = True)
#data_12.drop(['Name'], axis=1, inplace = True)

In [ ]:
#data_12

In [ ]:
X = data1.iloc[:, :41]
y = data1.Class

In [ ]:
X

,Mean RR (ms),SDNN (ms),Mean HR (beats/min),STD HR (beats/min),Min HR (beats/min),Max HR (beats/min),RMSSD (ms),NNxx,pNNxx,TINN (ms),...,AR Power(ms2).2,AR Power (log),AR Power (log).1,AR Power (log).2,AR Power (%),AR Power (%).1,AR Power (%).2,AR Power (n.u.),AR Power (n.u.).1,AR Result
1,846.86,1.4534,70.850,0.12149,68.337,71.999,0.74811,0.0,0.0,7.0,...,0.070717,0.60088,0,0,63.595,33.935,2.466,93.215,6.7737,13.761
2,869.16,1.8573,69.033,0.14742,68.069,70.180,0.96140,0.0,0.0,8.0,...,0.11879,0,0.85711,0,28.016,68.523,3.4544,95.192,4.7989,19.836
3,905.33,3.7751,66.274,0.27666,64.285,68.366,1.95870,0.0,0.0,18.0,...,0.69403,0.96155,2.5602,0,16.097,79.618,4.2708,94.893,5.0902,18.642
4,906.53,2.9229,66.186,0.21362,64.830,68.468,1.31034,0.0,0.0,14.0,...,0.22846,0.92476,1.707,0,30.514,66.713,2.765,96.01,3.9793,24.128
5,878.14,1.8624,68.326,0.14489,67.054,69.316,0.78719,0.0,0.0,10.0,...,0.10389,0.23385,0.74645,0,36.336,60.668,2.9878,95.294,4.6931,20.305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,890.00,3.2646,67.416,0.24711,64.339,70.344,1.47000,0.0,0.0,19.0,...,0.40959,1.364,1.8146,0,37.394,58.683,3.9154,93.734,6.2541,14.988
186,894.53,3.4636,67.074,0.25959,64.484,71.326,1.64270,0.0,0.0,21.0,...,0.50456,1.3036,2.0316,0,31.17,64.549,4.2705,93.78,6.2044,15.115
187,882.94,3.3480,67.954,0.25766,65.622,70.872,1.40250,0.0,0.0,18.0,...,0.33942,1.5277,1.8196,0,41.446,55.493,3.0531,94.773,5.2142,18.176
188,877.95,2.2318,67.341,0.17374,65.977,71.817,0.99634,0.0,0.0,14.0,...,0.16188,0.55358,1.1123,0,35.19,61.528,3.2749,94.936,5.0531,18.788
189,897.23,3.3210,66.873,0.24763,64.795,70.103,1.61410,0.0,0.0,21.0,...,0.45383,1.2943,1.9046,0,33.719,62.074,4.1943,93.653,6.328,14.8

In [ ]:
y

1      2.0
2      3.0
3      1.0
4      1.0
5      2.0
      ...
185    3.0
186    2.0
187    3.0
188    1.0
189    3.0
Name: Class, Length: 189, dtype: float64

In [ ]:
X_train, X_test, y_train, y_test =train_test_split(X, y,test_size=0.20, random_state=3)

In [ ]:
X_train

,Mean RR (ms),SDNN (ms),Mean HR (beats/min),STD HR (beats/min),Min HR (beats/min),Max HR (beats/min),RMSSD (ms),NNxx,pNNxx,TINN (ms),...,AR Power(ms2).2,AR Power (log),AR Power (log).1,AR Power (log).2,AR Power (%),AR Power (%).1,AR Power (%).2,AR Power (n.u.),AR Power (n.u.).1,AR Result
65,811.26,16.3170,73.959,1.49340,64.809,91.047,7.13320,0.0,0.0,89.0,...,10.603,4.5546,5.0519,2.3612,36.283,59.663,4.0468,93.638,6.3512,14.743
68,852.16,21.0290,70.409,1.75530,59.618,88.287,8.29960,0.0,0.0,110.0,...,10.913,5.1268,5.517,2.39,39.337,58.111,2.548,95.793,4.2002,22.807
147,894.01,4.5746,67.113,0.34380,64.391,70.279,2.07450,0.0,0.0,26.0,...,0.61479,1.6642,2.6801,0,25.781,71.211,3.0012,95.948,4.0438,23.727
141,903.89,3.1403,66.380,0.23069,64.285,68.854,1.31330,0.0,0.0,17.0,...,0.2257,1.1609,1.8498,0,32.653,65.033,2.3083,96.564,3.4275,28.173
72,721.85,13.6290,83.120,1.56610,65.804,107.140,6.68220,0.0,0.0,107.0,...,12.8,4.0886,4.6835,2.5495,33.029,59.873,7.0868,89.401,10.582,8.4485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,846.86,1.4534,70.850,0.12149,68.337,71.999,0.74811,0.0,0.0,7.0,...,0.070717,0.60088,0,0,63.595,33.935,2.466,93.215,6.7737,13.761
185,890.00,3.2646,67.416,0.24711,64.339,70.344,1.47000,0.0,0.0,19.0,...,0.40959,1.364,1.8146,0,37.394,58.683,3.9154,93.734,6.2541,14.988
132,901.69,3.2015,66.542,0.23634,64.323,69.399,1.52800,0.0,0.0,19.0,...,0.36854,1.0122,1.9354,0,27.385,68.937,3.6678,94.935,5.051,18.795
153,882.50,2.6141,67.989,0.20140,66.540,69.821,1.28930,0.0,0.0,14.0,...,0.27731,0.62724,1.5082,0,28.078,67.755,4.1582,94.205,5.7816,16.294
107,886.39,2.1677,67.690,0.16554,65.813,69.630,0.93447,0.0,0.0,11.0,...,0.1415,0.4074,1.0868,0,32.604,64.319,3.0697,95.434,4.5548,20.953

In [ ]:
rbf = svm.SVC(kernel='rbf', gamma=0.5, C=0.1).fit(X_train, y_train)
poly = svm.SVC(kernel='poly', degree=3, C=1).fit(X_train, y_train)
lin = svm.SVC(kernel='linear').fit(X_train, y_train)

In [ ]:
poly_pred = poly.predict(X_test)
rbf_pred = rbf.predict(X_test)
lin_pred = lin.predict(X_test)

In [ ]:
rbf.score(X_test,y_test)

0.21052631578947367

In [ ]:
poly_accuracy = accuracy_score(y_test, poly_pred)
rbf_accuracy = accuracy_score(y_test, rbf_pred)
lin_accuracy = accuracy_score(y_test, lin_pred)


print('Accuracy (Polynomial Kernel): ', "%.2f" % (poly_accuracy*100))
print('Accuracy (rbf Kernel): ', "%.2f" % (rbf_accuracy*100))
print('Accuracy (liner Kernel): ', "%.2f" % (lin_accuracy*100))

Accuracy (Polynomial Kernel):  21.05
Accuracy (rbf Kernel):  21.05
Accuracy (liner Kernel):  44.74

In [ ]:
rbf.predict()

TypeError: ignored

In [ ]:
y_test

In [ ]:
poly_pred

In [ ]:
y_test

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
cv_score_svm = cross_val_score(svm.SVC(kernel='rbf'), X, y, cv=5)

print(cv_score_svm)

mean_accuracy_svm = sum(cv_score_svm)/len(cv_score_svm)

mean_accuracy_svm = mean_accuracy_svm*100

mean_accuracy_svm = round(mean_accuracy_svm, 2)

print(mean_accuracy_svm)

In [ ]:
cv_score_svm_1 = cross_val_score(svm.SVC(kernel='poly'), X, y, cv=5)

print(cv_score_svm_1)

mean_accuracy_svm_1 = sum(cv_score_svm_1)/len(cv_score_svm_1)

mean_accuracy_svm_1 = mean_accuracy_svm_1*100

mean_accuracy_svm_1 = round(mean_accuracy_svm_1, 2)

print(mean_accuracy_svm_1)

In [ ]:
cv_score_svm = cross_val_score(svm.SVC(kernel='linear'), X, y, cv=5)

print(cv_score_svm)

mean_accuracy_svm = sum(cv_score_svm)/len(cv_score_svm)

mean_accuracy_svm = mean_accuracy_svm*100

mean_accuracy_svm = round(mean_accuracy_svm, 2)

print(mean_accuracy_svm)